{% extends 'base.html' %}

{% load static %}

{% block title %}Incorrect{% endblock %}

{% block content %}
  <style>
    body {
      background: url("{% static background_image %}") no-repeat center center fixed;
      background-size: cover;
    }

    .home-button-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .home-button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .home-button:hover {
      background-color: #45a049;
    }
  </style>

  <div class="background">
      <h2>Wrong answer</h2>
      <p>Try again</p>

      <form method="POST" action="{% url 'game:puzzle_question' level_id=level.id %}">
          {% csrf_token %}
          <label for="answer">Your answer:</label>
          <input type="text" name="answer" id="answer" required>
          <button type="submit">Submit</button>
      </form>
  </div>

  <div class="home-button-container">
      <a href="{% url 'home' %}" class="home-button">Home</a>
  </div>
{% endblock %}
