{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="fullscreen-container"
     style="background-image: url('{% static 'images/logo.png' %}'); background-size: cover;">

    <div class="profile-container">
        <h2>Edit Profile</h2>
        <form method="post" action="{% url 'edit_profile' %}" class="edit-profile-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="profile-button">Save Changes</button>
            <a href="{% url 'profile' %}" class="profile-button cancel-button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
